<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一夜狼人杀</title>
    <div th:include="footer :: headBasic"></div>
</head>
<body>

<div class="panel-body">
    <div th:include="footer :: roomPublic"></div>
    <div class="panel panel-default marginTop10">
        <h6 style="margin-left: 10px;">场次：<span id="activityId"></span></h6>
    </div>
    <div id="notBigin" style="display: none;">
        <div class="panel panel-default marginTop10">
            <div class="panel-heading">
                已锁定座号<span id="notBigin_lockSeatName"></span>，
                还有<span id="notBigin_waitingPeopleCount"></span>人未锁定
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div id="notBigin_progress" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                </div>
            </div>
        </div>
    </div>
    <div id="notSkill" style="display: none;">
        <div class="panel panel-default marginTop10">
            <h6 style="margin-left: 10px;">
                你抽到的角色牌是【<span id="notSkill_myRoleCardName"></span>】
            </h6>
        </div>
        <div class="panel panel-default marginTop10">
            <div class="panel-heading">
                正在执行技能的是【<span id="notSkill_currentRoleCardName"></span>】（<span id="notSkill_currentOrderNum"></span>/<span id="notSkill_cardCount"></span>）
            </div>
            <div class="panel-body">
                <div id="notSkill_isCurrentUser_true" style="display: none;">
                    ////////看到这里就说明该执行技能了
                </div>
                <div id="notSkill_isCurrentUser_false" style="display: none;">
                    <div class="progress">
                        <div id="notSkill_progress" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="marginTop10" style="color:red;" id="errorMsgDiv"></div>
</div>

</body>
</html>
<script src="/js/activity.js"></script>
