<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="headBasic">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- jq二维码生成器 参考网址：https://www.helloweba.com/view-blog-226.html -->
    <script type="text/javascript" src="/js/util/qrcode.js"></script>
    <script type="text/javascript" src="/js/util/jquery.qrcode.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" />
</footer>

<footer th:fragment="buttonGroup">
    <div id="buttonGroup"></div>
    <script src="/js/footer/buttonGroup.js"></script>
</footer>

<footer th:fragment="roomPublic">
    <div class="panel panel-default marginTop10">
        <span class="glyphicon glyphicon-flag" style="margin:10px;" id="roomPublic_roomName"></span>
        <span class="glyphicon glyphicon-user" style="margin:10px;" id="roomPublic_userName"></span>
        <button type="button" class="btn btn-link" id="roomPublic_returnIndexButton">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        <button type="button" class="btn btn-link" id="roomPublic_showQrCodeButton">
            <span class="glyphicon glyphicon-qrcode"></span>
        </button>
    </div>
    <div class="panel panel-default marginTop10" id="roomPublic_showQrCodeDiv" style="display: none;">
        <div class="panel-heading">
            扫描图中二维码进入房间
        </div>
        <div class="panel-body" id="roomPublic_roomQrCodeDiv"></div>
    </div>
    <div class="panel panel-default marginTop10">
        <div class="panel-heading">
            当前<span id="roomPublic_peopleCount"></span>人局的角色牌有：
        </div>
        <div class="panel-body" id="roomPublic_roleCardList">
            <!--
            <span class="label label-info">狼人1</span>
            -->
        </div>
    </div>
    <script src="/js/footer/roomPublic.js"></script>
</footer>
</html>