<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一夜狼人杀</title>
    <div th:include="footer :: headBasic"></div>
    <style type="text/css">
        .vertical-center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn{
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>

<div class="panel-body vertical-center">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <button class="btn btn-success" type="button" id="startGameButton"><h4>开始游戏</h4></button>
            </div>
            <div style="margin-top: 20px;">
                <button class="btn btn-default" type="button"><h4>游戏介绍</h4></button>
            </div>
            <div style="margin-top: 20px;">
                <button class="btn btn-default" type="button"><h4>关于我们</h4></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="/js/page/index.js"></script>
