<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一夜狼人杀</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/basic.css" type="text/css" />
</head>
<body>

<div class="panel-body">
    <ul class="nav nav-tabs">
        <li role="presentation" id="nav1" class="active"><a href="#">加入房间</a></li>
        <li role="presentation" id="nav2"><a href="#">创建房间</a></li>
    </ul>
    <!--<div class="input-group marginTop10">
        <span class="input-group-addon">房间名</span>
        <input type="text" class="form-control" id="roomName"/>
    </div>-->
    <div id="navDiv1" style="display: block;">
        <div class="input-group marginTop10">
            <span class="input-group-addon">房间号</span>
            <input type="text" class="form-control" value="" id="intoRoomName"/>
        </div>
        <div class="input-group marginTop10">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" value="" id="intoRoomPassword"/>
        </div>
        <div class="marginTop10">
            <button class="btn btn-success" type="button" id="intoRoomButton">
                进入房间
            </button>
        </div>
    </div>
    <div id="navDiv2" style="display: none;">
        <div class="input-group marginTop10">
            <span class="input-group-addon">密码</span>
            <input type="text" class="form-control" value="123" id="roomPassword"/>
        </div>

        <div class="panel panel-default marginTop10">
            <div class="panel-body" id="roleCardList">
                <!--
                <button type="button" class="btn btn-default marginTop10">化身幽灵</button>
                <button type="button" class="btn btn-default marginTop10">狼人*2</button>
                <button type="button" class="btn btn-default marginTop10">狼先知</button>
                <button type="button" class="btn btn-default marginTop10">爪牙</button>
                <button type="button" class="btn btn-default marginTop10">皮匠</button>
                <button type="button" class="btn btn-default marginTop10">预言家</button>
                <button type="button" class="btn btn-default marginTop10">见习预言家</button>
                <button type="button" class="btn btn-default marginTop10">强盗</button>
                <button type="button" class="btn btn-default marginTop10">女巫</button>
                <button type="button" class="btn btn-default marginTop10">捣蛋鬼</button>
                <button type="button" class="btn btn-default marginTop10">酒鬼</button>
                <button type="button" class="btn btn-default marginTop10">失眠者</button>
                <button type="button" class="btn btn-default marginTop10">守夜人*2</button>
                <button type="button" class="btn btn-default marginTop10">村民</button>
                <button type="button" class="btn btn-primary marginTop10">选中样式</button>
                -->
            </div>
        </div>
        <div class="marginTop10">
            <button class="btn btn-success" type="button" id="confirmCreateRoomButton">
                确认创建 <span class="badge" id="peopleCount"></span> 人的房间
            </button>
        </div>
    </div>
    <div class="marginTop10" style="color:red;" id="errorMsgDiv"></div>
</div>

</body>
</html>
<script src="/js/index.js"></script>
