<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一夜狼人杀</title>
    <div th:include="footer :: headBasic"></div>
</head>
<body>

<div class="panel-body">
    <div th:include="footer :: roomPublic"></div>
    <div class="panel panel-default marginTop10">
        <div class="panel-heading">
            场次号是：
        </div>
        <div class="panel-body" id="activityId"></div>
    </div>
    <div class="panel panel-default marginTop10">
        <div class="panel-heading">
            请选择座号
        </div>
        <div class="panel-body" id="seatNumList">
            <button type="button" class="btn btn-default marginTop10">位置1</button>
            <button type="button" class="btn btn-primary marginTop10" disabled="false">位置2</button>
        </div>
    </div>
    <div class="marginTop10">
        <button class="btn btn-success" type="button" id="lockSeatNumButton">锁定座号</button>
        <button class="btn btn-success" type="button" id="refreshSeatNumListButton"><span class="glyphicon glyphicon-refresh"/></button>
    </div>
    <div class="marginTop10" style="color:red;" id="errorMsgDiv"></div>
</div>

</body>
</html>
<script src="/js/room.js"></script>
